<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="quit()">Abandonner</button>
    </ion-buttons>
    <ion-title>({{os.counter.current}}/{{os.counter.total}}) Tournée</ion-title>
  </ion-navbar>
  <ion-toolbar mode="md">
    <ion-segment mode="md" [(ngModel)]="mode">
      <ion-segment-button value="1">
        Résumé
      </ion-segment-button>
      <ion-segment-button value="2">
        Adresses
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="mode == '1'">
    <ion-item-group>
      <ion-item-divider color="light">Informations générales</ion-item-divider>
      <ion-item>
        Nombre d’adresses à livrer
        <span item-content>{{os.generalInformations.totalAddresses}}</span>
      </ion-item>
      <ion-item>
        Nombre de clients
        <span item-content>{{os.generalInformations.totalCustomer}}
          <span>({{os.generalInformations.totalNewCustomers}} nouveaux)</span>
        </span>
      </ion-item>
      <ion-item>
        CA TTC
        <span item-content>{{os.generalInformations.totalPrice}} €</span>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Commandes</ion-item-divider>
      <ion-item *ngFor="let product of os.generalInformations.totalProducts">
        {{product.name}}
        <span item-content>{{product.quantity}}</span>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list *ngIf="mode == '2' && os.orders && os.orders.addresses" reorder="true" (ionItemReorder)="reorderItems($event)">
    <button ion-item *ngFor="let address of os.orders.addresses; let i = index" (click)="next(i)">
      <ion-icon *ngIf="address.valid" item-start color="secondary" name="checkmark-circle"></ion-icon>
      <ion-icon *ngIf="address.issue" item-start color="danger" name="warning"></ion-icon>
      {{ address.label }}
      <span item-end>(x{{address.totalOrders}})</span>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block large color="secondary" (click)="done()">Livraison terminée</button>
</ion-footer>