<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="quit()">Abandonner</button>
    </ion-buttons>
    <ion-title *ngIf="route && route.stops">({{os.counter.current}}/{{route.stops.length}}) Tournée</ion-title>
  </ion-navbar>
  <ion-toolbar mode="md">
    <ion-segment mode="md" [(ngModel)]="mode">
      <ion-segment-button value="1">
        Résumé
      </ion-segment-button>
      <ion-segment-button value="2">
        Adresses
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="mode == '1'">
    <ion-item-group>
      <ion-item-divider color="light">Informations générales</ion-item-divider>
      <ion-item>
        Nombre d’adresses à livrer
        <span item-content>{{route.total.addresses}}</span>
      </ion-item>
      <ion-item>
        Nombre de clients
        <span item-content>{{route.total.customers}}
          <span>({{route.total.newCustomers}} nouveaux)</span>
        </span>
      </ion-item>
      <ion-item>
        CA TTC
        <span item-content>{{route.total.amount}} €</span>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Commandes</ion-item-divider>
      <ion-item *ngFor="let product of route.total.products">
        {{product.name}}
        <span item-content>{{product.quantity}}</span>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list *ngIf="mode == '2' && route.stops">
    <div *ngFor="let stop of route.stops; let i = index;">
      <button ion-item (click)="next(stop)" text-wrap *ngIf="stop.foundOrder === true">
        <ion-icon *ngIf="stop.order.valid" item-start color="secondary" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="stop.order.address.issue" item-start color="danger" name="warning"></ion-icon>
        <h2>{{stop.order.address.label}}</h2>
        <p>{{stop.order.customer.name}}</p>
        <ion-note item-end>n° {{ stop.order.id }}</ion-note>
      </button>
      <button ion-item (click)="next(stop)" text-wrap *ngIf="!stop.foundOrder === true">
        <ion-icon item-start color="danger" name="warning"></ion-icon>
        <h2>Impossible de trouver la commande Croustillant correspondant</h2>
        <p>Destination: {{ stop.destination_ref }} / Commande: {{ stop.visit_ref }}</p>
      </button>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block large color="secondary" (click)="done()">Synchroniser tournée</button>
</ion-footer>