<ion-header>

  <ion-navbar>
    <ion-title>n° {{stop.order.id}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="problem()">Problème</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="stop">
  <div id="map" style="width:100%; height:33%;">
  </div>
  <ion-item text-wrap>
    <ion-label>
      <div id="client-id">
        <span class="chip" *ngIf="stop.order.customer.isNew">nouveau</span>n° {{stop.order.customer.id}}</div>
      <h2 class="bigger">{{stop.order.customer.name}}</h2>
      <p>{{stop.order.address.label}}</p>
    </ion-label>
    <button ion-button icon-only round clear large item-end class="action-button" (click)="navigate()">
      <ion-icon name="map"></ion-icon>
    </button>
  </ion-item>
  <ion-item text-wrap>
    <h2 class="bigger">{{stop.order.address.name}}</h2>
    <p *ngIf="stop.order.address.code">code : {{ stop.order.address.code}}</p>
    <p>{{ stop.order.address.hasElevator ? "Il y a un ascenseur" : "Pas d'ascenseur"}}</p>
    <button ion-button icon-only round clear large item-end class="action-button" *ngIf="stop.order.address.hasKey">
      <ion-icon name="key" item-end></ion-icon>
    </button>
    <button ion-button icon-only round clear large item-end class="action-button" *ngIf="stop.order.address.hasBadge" (click)="loadBadge()">
      <img src="assets/icon/badge.png" class="img-icon">
    </button>
  </ion-item>
  <ion-item text-wrap no-lines>
    <h2 class="bigger">Étage : {{stop.order.customer.floor}}</h2>
    <p>{{ stop.order.customer.doorInformation}}</p>
  </ion-item>
</ion-content>

<ion-footer *ngIf="!stop.order.valid">
  <button ion-button block color="yellow" padding (click)="scan()">
    <ion-icon item-start name="qr-scanner" margin-right></ion-icon>Scanner</button>
  <button ion-button block color="secondary" padding (click)="add()">Forcer validation</button>
</ion-footer>
<ion-footer *ngIf="stop.order.valid">
  <button ion-button block color="secondary" padding>
    <ion-icon item-start name="checkmark" margin-right></ion-icon>Livré : {{stop.order.deliveredTime | date:'dd/MM/yyyy HH:mm'}}</button>
</ion-footer>