page-scanner {
    .error {
        color: color($colors, danger);
        font-weight: bolder;
    }
    button.big {
        height: 48px !important;
        .button-inner {
            font-size: 2.4rem;
        }
    }
    input.text-input.text-input-md {
      font-size: 4rem;
      text-align: center;
  }
}