page-buildings-list {
  .chip {
    background-color: color($colors, yellow);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 1.2rem;
  }

  .toolbar-title {
    font-size: 3rem;
    font-weight: normal;
  }
}

.badgeButton{
  border-radius: 10px;
}
